.accordion {
  margin: 50px;
}
.accordion dt, .accordion dd {
  padding: 10px;
  border: 1px solid black;
  border-bottom: 0;
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
  border-bottom: 1px solid black;
}
.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-weight: bold;
}
.accordion dd {
  border-top: 0;
  font-size: 12px;
}
.accordion dd:last-of-type {
  border-top: 1px solid white;
  position: relative;
  top: -1px;
}
.accordion dt a { 
  margin: 0; 
  font-size: 1.1em; 
  padding: 0.4em; 
  color: #fff; 
  background-color: #944; 
  border-bottom: 1px solid #66d; 
}
.accordion dt a:hover { 
  cursor: pointer; 
}
.accordion dd { 
  margin: 0; 
  padding: 1em 0.4em; 
  background-color: #eef; 
  border-bottom: 2px solid #66d; 
}
.accordion.hide dt a { 
  color: #000; 
  background-color: #88f; 
}
.accordion.hide dd { 
  display: none; 
}