.buttons-container {
	margin: 10px;
}

.modal-body > form > input, textarea {
	margin: 5px;
	border-radius: 8px;
}

.status {
	text-align: center;
}

.staredTd {
	text-align: center;
}

th {
	text-align: center;
}

.table-container {
	margin: 10px;
}

.description {
	text-align:center;
}

.modal-title {
	text-align: center;
}

.profile-picture {
	margin: 20px;
	text-align: center;
}

img {
	max-width:100%;
	max-height:100%;
	border: 1px solid gray;
	border-radius: 8px;
}

.user-info-container {
	margin: 20px;
	display: block;
}

.profile-settings {
	margin: 5px;
	display: 
}

.greeting-message {
	text-align: center;
}

p {
	border-radius: 9%;
	border: 1px solid black;
}
