.buttons-container {
	margin: 10px;
}

.table-container {
	margin: 10px;
}

.options {
	text-align:center;
}

.modal-title {
	text-align: center;
}
/*.options-button {
	margin-left:auto;
	margin-right:auto;
}*/

.profile-picture {
	margin: 20px;
}

img {
	max-width:100%;
	max-height:100%;
}

.user-info-container {
	margin: 20px;
	display: block;
}

/*.profile-settings {
	float: right;
}
*/
.profile-settings {
	margin: 5px;
	display: 
}

.greeting-message {
	text-align: center;
}

p {
	border-radius: 5%;
	border: 1px solid black;
}
